*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.inter-font{
    font-family: inter;
    font-optical-sizing: auto;
    max-width: 1600px;
     margin: auto; 
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    margin: 12px 16px;
    border-radius: 4px;

}


/* main css */
.head{
     max-width: 1600px;
     margin: 0 auto;
    display: flex;
   justify-content: space-between;
   margin-top: 24px;
   margin-bottom: 16px;
}
.list{
     max-width: 1600px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
   
}
.list a{
      max-width: 1600px; 
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.banner{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
   height: 674px;
   width: 1600px;
    align-items: center;
  justify-content: center;
    text-align: center;
    
}
.btn1{
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
    margin-top: 110px;

}
 .text-color{
    color: #469165;
}
.text-color2{
color: #FFFFFF;
}
.container h2{
    font-size: 4rem;
    font-weight: 770;
    margin-bottom: 16px;
    

}
.container p{
      font-size: 18px;
    color: #FFFFFF;
        margin-bottom: 32px;
}
.container-2{
margin-top: 120px;
margin-bottom: 44px;
    align-items: center;
  justify-content: center;
    text-align: center;
}
.container-2 h1{
    color: #001931;
    font-size: 3rem;
    margin-bottom: 16px;
}
.container-2 p{
    color: #627382;
}
.box-item{
    display: flex;
    gap: 24px;
    padding: 24px ;
    margin-bottom: 120px;

    
}
.box img{
    background-color: #F95555;
    border-radius: 8px;
    padding: 14px 13px;
    margin-bottom: 16px;
   

     
}
.box{
    padding: 24px 24px;
   border: 1px salmon;
   box-shadow: 0 4px 40px 0 #00000040;
   text-align: center;
   
  
}
.box h3{
    margin-bottom: 16px;
    color: #001931;
    font-size: 24px;
   justify-content: center;
}
.box p{
    color: #627382;
    
}
.banner-2{
    display: flex;
    gap: 60px;
}
.text-banner2 {
    margin-top: 102px;

}
.text-banner2 p{
    margin-bottom: 36px;
    color: #469165;
    font-weight: bold;
}
.text{
    margin-top: 138px;
    margin-bottom: 102px;
}
.text p{
    color: #469165;
    margin-bottom: 16px;
    font-weight: bold;
}
.text h1{
    margin-bottom: 16px;
    font-size: 4em;
}
.text .p-graph{

    color: #627382;
    font-weight: 400;
    margin-bottom: 40px;
}
.icon-pera{
    display: flex;
    gap: 6px;
  
   
    

}
.icon-pera p{
   color: #001931;

}
.icon-pera img{
    margin: 20px 20px;
    align-content: space-around;
    
}
.banner-3{
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
    margin-bottom: 120px;
}
.banner-3 h1{
    color: #001931;
    margin-bottom: 16px;
    font-size: 2.5em;

}
.banner-3 p{
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
    
}
.vault{
 background-color: #001931;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px;
    background-color: #001931;

}
.footer-text h6{
        color: #F7F6F2;
        margin-bottom: 16px;
}
.footer-text a{
    color: #F7F6F2;
    margin-top: 16px;
    gap: 16px;
}
.copyright{
    text-align: center;
    margin-bottom: 50px;
    color: #F7F6F2;
    padding: 80px;
   
}

